h1{
    color: #ffffff;
    
    text-align-last: center;
    border: 1px;
    width: 275px;
    height: 30px;
    margin-left: 185px;
    margin-top: -6%;
    background-color: #49aaa5;
    padding: 30px 30px 30px 30px;
    position: relative;
    top: 72px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}



header {
height: 75px;
}

#topLine {
width: 100%;

}

.background{
float: top;
height: 670px;
width: 100%;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
position: static;
top: -50%;
right: -50%;
left: -50%;
bottom:- 50%;
display: block;
}

}

.box-set1{


}

.box{

}
.myName{
}


.aboutMe{
color: #49aaa5;
font-family: 'Georgia', Times, Times New Roman, serif;
}


.aboutMeSection {
float: top;
padding: 90px;
margin: 0px 175px 0px 175px;
border: 2px black solid;
position: relative;
top: -600px;

}

.clearfix::after {
    content: ""; 
        display: block;
    clear: both;
    }    
    
.paragraph {  
position: relative;
float: left;
}
    

#aboutMe {
float: right;
padding-right: 25px;
margin-right: 160px;
position: absolute;

}

#portfolio {
    float: right;
    padding-right: 25px;
    position: relative;
    top: 0;
}

#contact {
    float:right;
    padding-right: 25px;
    position: relative;
    top: 0;
}

#footer{
border-top: 8px solid #4aaaa5;
border: 100%;
position: static;
bottom: 50px;
height: 100px;
width: 100%;
background-color: #666666
}